@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400&display=swap');

* {
  box-sizing: border-box;
}

body{
  font-size: 16px;
  font-family: 'Bai Jamjuree', sans-serif;
  background: #f5f5f5;
  display: grid;
  justify-items: center;
  align-items: center;
  min-height: 100vh;

  background-color:black;
  background-image:
  radial-gradient(at 80% 50%, hsla(239,52%,28%,1) 0px, transparent 50%),
  radial-gradient(at 0% 100%, hsla(240,71%,31%,1) 0px, transparent 50%),
  radial-gradient(at 80% 100%, hsla(204,58%,46%,1) 0px, transparent 50%),
  radial-gradient(at 0% 0%, hsla(208,91%,28%,1) 0px, transparent 50%);
  background-repeat: no-repeat;
  background-size: 100%;

}

.container {
  margin: 1rem auto;
  background: white;
  padding: 1rem 3rem;
  border-radius: 10px;
  box-shadow: 0 20px 20px 20px rgba(0,0,0,.05);
  width: 100%;  
}

.row {
  max-width: 90vh;
  display: grid;
}

.col-1 {
  grid-template-columns: 1fr;
}

.col-2 {
  grid-template-columns: 1fr;
}

.col-3 {
  grid-template-columns: 1fr;
}

label {
  display: block;
  margin-bottom: 1rem;
  font-size: .8rem;
}

.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 20px;
}

.gap-30 {
  gap: 30px;
}
input {  
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 1rem;
  background: #f3f5f5;
  display: block;
  padding: .3rem .8rem;
  margin-top: .4rem;
  border-radius: 7px;
  border: none;
  font-weight: 1rem;
  color: grayscole;
  width: 100%;
  text-align: right;
}

button {
  background: navy;
  padding: .7rem .8rem;
  color: white;
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 1.2rem;
  margin-top: .5rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.block-bg {
  text-align: center;
  background: #f5f5f5;
  margin-top: 1.5rem;
  padding: .3rem 1rem;
  width: 100%;
}

.block-totals p {
  font-size: .8rem;
  text-align: right;
}
.block-bg h3 {
  font-weight: bold;
  text-align: right;
  padding: 0;
  margin-top: .3rem;
}

.block {
  text-align: center;
}

.block img {
  max-width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}

.grid p {
  min-height: 2rem;
}
@media (min-width: 768px) {
  .col-2 {
    grid-template-columns: 1fr 1fr;
  }
  
  .col-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}